<form action="" method="post">
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <label>Repeat password</label>
    <input type="password" name="password_2">
    <br>
    <input type="submit" value="Submit">
</form>